:root{
    --yellow-100: rgb(235, 217, 107);
    --yellow-200: rgb(229, 198, 67);
    --yellow-300: rgb(224, 195, 64);
    --yellow-400: rgb(211, 190, 2);
    --blue-100: rgb(0, 86, 179);
    --white: rgb(255, 255, 255);
    --gray: rgb(244, 246, 245);
    --gray-100: #7f7f7f;
    --black: rgb(0, 0, 0);
    --black-100: #191919;
}